#main { 
    
    top: -5em;
        background-color: #dfa8a8;


}
body { 

    /*background-color: #dfa8a8;*/
    /*background-color: #cebcbc;*/
     -moz-transition-duration:1s;
    -webkit-transition-duration:1s;
    -o-transition-duration:1s;


}

#nav a { 
    letter-spacing: 0px;
    left: -2.5%;

}
#mee #main { 
    
        background-color: #cebcbc;
          -moz-transition-duration:1s;
    -webkit-transition-duration:1s;
    -o-transition-duration:1s;

}

/*#nav { 
        font-size: .7em;    
        top: 20em;
        letter-spacing: 4em;
        font-weight: lighter;


}*/
/*.panel { 
  -moz-transition-duration:1s;
    -webkit-transition-duration:1s;
    -o-transition-duration:1s;
    background: transparent;
}

#sector{ 


    -moz-transition-duration:1s;
    -webkit-transition-duration:1s;
    -o-transition-duration:1s;
}
*/
#nav{

    font-family: 'Raleway', sans-serif;

}
#sector img{ 

    /*border-radius: 50%;
    margin-top: 3em;

    content: center;*/
    /* display: block;
    margin-left: auto;
    margin-right: auto;*/
    /*display: table-row;*/
   /*height: 85%; 
   width: 85%;*/
}
#sector{ 
    /*margin: 0 auto;*/
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    /*display: table; */
    /*position: relative;*/
    /*position: 50%; */
  /*  top: 0em;*/
    /*height: 35%;*/
    /*width: 45%;*/
    /*right: 33%;*/
   /* height: 18em;
    width: 18em;
    margin-left: 35%;*/
}

.middle{ 
    margin: 0 auto;
    width: 55%;
}
.middle img { 
    border-radius: 50%;
    height: 15em;
    width: 15em;
    /*height: 55%; 
    width: 55%;*/
}
.middle h1 { 
    width: 100%;
}
/*#nav h2 { 

    font-size:15px;
    letter-spacing: 3px;
    font-style: bold; 
   opacity:1;
 font-family: 'Raleway', sans-serif;
    position:fixed;
    text-transform:uppercase;
   text-align:center;
   width:100%;*/
  /* bottom:400px;*/
/* text-align:center;
    color: #F1D5D4;
    font-style: .2em;*/
 
  /*padding-top:40px;
  padding-bottom:40px;*/
 
   /* z-index:98989898989898989999;

}*/


/*#nav.woah {

    background-color: gray;
    opacity: .7;    

    top: 90%;
    font-size: .7em;
    line-height: .7em;
    padding-top: 1%;
    font-family: 'Source Sans Pro', sans-serif;*/
    /*opacity: 1;*/
    /*background-image: url("images/bg.jpg");*/
/*    background-color: #dfa8a8;
*/    /*display: table-row;*/
/*     -moz-transition-duration:1s;
    -webkit-transition-duration:1s;
    -o-transition-duration:1s;
}*/

#main{ 
    
    top: 5em; 

}

.hide{ 
    height: 50em;

}

.disappear{ 
    visibility: hidden;
}

h3{ 
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    content: center;
    text-align: center;
    font-weight: lighter;

}


.prettywrapper{ 
z-index: 0;
 position: absolute;
  top: 0;
  width: 100%;
  height: 21em;
background: #70e1f5; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #70e1f5 , #ffd194); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #70e1f5 , #ffd194); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

       

}
#moreinfo{ 
opacity: .5;
}

@media screen and (min-width: 737px) { 
#gone { 
    visibility: hidden;
}
#moreinfo h1 { 
    letter-spacing: 2px;
    font-family: 'Aguafina Script', cursive;
    font-size: 5.5em;
    margin-left: auto;
    margin-right: auto;
    content: center;
    text-align: center;

}
#logging { 
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 2em;

}
} 
@media screen and (max-width: 737px) {
#sector { 
    top: 8em;

}
#nav a{ 
    display: inline-block;
    text-decoration: none;
    text-align: center;
}
#logging{ 
    float: center;
    text-align: center;
}

#nav {
    font-size:.5em;
    letter-spacing:.08em;
    font-weight: light;
   opacity:.6;
    font-family: 'Raleway', sans-serif;
    position:fixed;
    text-transform:uppercase;
   text-align:center;
   width:100%;
   bottom:0em;
    text-align:center;
    display: table;
    background-color: red;
  /*padding-top:40px;*/
  /*padding-bottom:40px;*/
    /*background-color: gray;*/
    z-index:98989898989898989999;
    -moz-transition-duration:0.5s;
    -webkit-transition-duration:0.5s;
    -o-transition-duration:0.5s;
}



/*#nav.woah { 
    
  height: 30%;
  background-color: gray;

}*/
    
.middle { 
    top: -13em;

}
#moreinfo h1 { 
    font-family: 'Aguafina Script', cursive;

    /*font-family: sans-serif;*/
    font-size: 4em;

}

.destroy{ 
    visibility: visible;
}

} 




footer { 
    font-family:helvetica;
    text-transform:lowercase;
position: fixed;
  width:50px;
  letter-spacing:2px;
 right:10px;
    font-size:7px;
    bottom:10px;
    color:#fff;
    z-index:999999999999999999;
      -moz-transition-duration:0.5s;
    -webkit-transition-duration:0.5s;
    -o-transition-duration:0.5s;

}

@media screen and (min-width: 736px) {
    #nav { 
        font-size: .7em;    
        top: 20em;
        letter-spacing: 4em;
        font-weight: lighter;


}
#nav h2 { 

    font-size:15px;
    letter-spacing: 3px;
    font-style: bold; 
   opacity:1;
 font-family: 'Raleway', sans-serif;
    position:fixed;
    text-transform:uppercase;
   text-align:center;
   width:100%;
  /* bottom:400px;*/
 text-align:center;
    /*color: #F1D5D4;*/
    color: white;
    font-style: .2em;
 
  /*padding-top:40px;
  padding-bottom:40px;*/
 
    z-index:98989898989898989999;

}

.destroy { 
    visibility: hidden;
    /*-moz-transition-duration:1s;
    -webkit-transition-duration:1s;
    -o-transition-duration:1s;*/

}


#nav.woah {

    background-color: gray;
    opacity: .7;    

    top: 90%;
    font-size: .7em;
   /* line-height: 1em;
    padding-top: 1%;
    padding-bottom: 2%;*/
    font-family: 'Source Sans Pro', sans-serif;
    /*opacity: 1;*/
    /*background-image: url("images/bg.jpg");*/
/*    background-color: #dfa8a8;
*/    /*display: table-row;*/
/*line-height: 30px;*/
     -moz-transition-duration:1s;
    -webkit-transition-duration:1s;
    -o-transition-duration:1s;
}

}

#clickin { 

    text-decoration: none;
    font-size: .11px;
    letter-spacing: .3px;
    font-weight: lighter;
    text-transform: lowercase;
    

}

#work h1 { 

    font-family: 'Aguafina Script', cursive;

}




