<!DOCTYPE html>
<html lang="en">

    <head>
        <title> cout << dxnia; </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="static/main.css" />
       
        <noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
 <link rel="stylesheet" href="static/imadethis.css" />
 <link href='https://fonts.googleapis.com/css?family=Aguafina+Script' rel='stylesheet' type='text/css'>
 <link href="static/favicon.ico" rel="icon" type="image/x-icon" />
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
        
        <!-- `<header > <h1 class="beforescroll" > D A N I A A B D U L H A M I D<h1></header> -->
       
    </head>
    <body>

        <!-- Wrapper-->
<!-- <h1 class="beforescroll" > D A N I A A B D U L H A M I D<h1> -->

    <!-- <div id="title">
   
    <div style="font-size:6em;letter-spacing:.4em;margin-top:10px;font-weight:thin;opacity:.9;" >

        D A N I A A B D U L H A M I D
    </div>
    </div> -->

    <nav  id="nav" >
                        
                        {% if current_path == '/index.html' %}
                            <a href="index.html" class="icon fa-home" id="lightup"><span>Home</span></a>
                        {% else %}
                             <a href="index.html" class="icon fa-home"><span>Home</span></a>
                        {% endif %}

                        {% if current_path == '/work.html' %}
                        <a href="work.html" class="icon fa-folder" id="lightup"><span>Work</span></a>
                        {% else %}
                             <a href="work.html" class="icon fa-folder"><span>Work</span></a>
                        {% endif %}
                        {% if current_path == '/music.html' %}
                            <a href="music.html" class="icon fa-music" id="lightup"><span>Music</span></a>
                        {% else %}
                             <a href="music.html" class="icon fa-music"><span>Music</span></a>
                        {% endif %}
                        {% if current_path == '/contact.html' or current_path == '/success.html' %}
                        <a href="contact.html" class="icon fa-envelope" id="lightup"><span>Contact</span></a>
                        {% else %}
                             <a href="contact.html" class="icon fa-envelope"><span>Contact</span></a>
                        {% endif %}

                        <!-- <a href="other.html" class="icon fa-home "><span>Home</span></a>
                        <a href="work.html" class="icon fa-folder"><span>Work</span></a>
                        <a href="contact.html" class="icon fa-envelope"><span>Contact</span></a> -->
                        <a id="clickin" href = "{{loginbutton}}">{{loginorout}}</a>
                        <header> <h2>D A N I A / A B D U L H A M I D</h2></header><br>

                        <footer> <a href="https://github.com/dxnia">&copy;dania</a></footer> 
    </nav>

        
    {% block content %}
    I should never see this content.  It should be replaced.
    {% endblock %}


   <!--  <footer>
        <p>Copyright &copy; Dania.</p>
    </footer> -->
    

    <!-- Scripts -->

            <script src="static/js/jquery.min.js"></script>
            <script src="static/js/skel.min.js"></script>
            <script src="static/js/skel-viewport.min.js"></script>
            <script src="static/js/util.js"></script>
            <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
            <script src="static/js/main.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
            <script>

                $(document).ready(function(){
                    $(window).scroll(function(){
                        var scrolled = false; 
                        if($('body').width() > 737 ){
                        if($(this).scrollTop() > 1){ 
                            // firstAnimation();
                            

                             $('div').removeClass('destroy');

                             $('header').removeClass('destroy');
                              $('body').addClass("woah");
                             $('.prettywrapper').addClass("woah");
                             $('.prettymusic').addClass("woah");
                 
                             $('#wrapper').addClass("woah");
                             $('div').removeAttr('destroy');
                             $('article').removeAttr('#destroy');
                             scrolled = true; 
                             // $('#title').addClass('disappear');
                             // $('.beforescroll').addClass('takeaway');
                            // $('destroy').removeClass('remove');
                            // $('destroy').addClass('panel');
                        }
                        else { 
                            // if(scrolled == true){ 
                            $('div').addClass('destroy');
                            $('.prettywrapper').removeClass('woah');
                            $('.prettymusic').removeClass('woah');


                            $('header').addClass('destroy');
                             $('#wrapper').addClass('destroy');
                             $('body').removeClass("woah");
                             $('article').attr('#destroy');

                            // } 

                             // $('#title').removeClass('disappear');
                             // $('.beforescroll').removeClass('takeaway');
                            // $('destroy').removeClass('panel');
                        }
                    } 
                    else { 
                        $('.prettywrapper').addClass("woah");

                    }
                     });
                });
                var firstAnimation = function () {
                $('div').each(
                    function () {
                        $(this).delay(500).animate({
                        opacity: 1,
                    
                    }, 2000);
                }
                 );
                };
                
            </script>
            
            <script >
            var scrolled = false; 
                 $(window).scroll(function() {
                    if($('body').width() > 620 ){
                    if ($(this).scrollTop() > 1){  
                        $("#main").removeClass("woah");
                        $('#nav').addClass("woah");
                        $('div').removeClass("destroy");
                        $('.prettywrapper').attr("gone"); 

                        // scrolled = true; 
                    }
                    else{
                         //if(scrolled == false){ 
                            $('#nav').removeClass("woah");
                            $('#main').addClass("woah"); 
                            $('div').addClass("destroy");
                            $('.prettywrapper').removeAttr("gone");


                        // } 
                    }
                } 
                });

            </script>
            <script src="static/js/spotify-web-api-js.js"></script>
    
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
            <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
</body>
</html>