                    {% extends "templates/base.html" %}
{% block content %} 

<!-- <center>  -->

            <div class = "destroy" id = "sector"> 

                <div class = "middle"> 
                                <header id = "work" class="contact">
                                    <h1> hello</h1> <h2>{{there}}</h2><br><br>
                                    <h3>Contact Me</h3>
                                </header>
                                <form action="https://formspree.io/dania@umich.edu" method="post">
                                    <input type="hidden" name="_next" value="success.html" />
                                    <div><br>
                                        <div class="row">
                                            <div class="6u 12u$(mobile)">
                                                <label for="name">name</label>
                                                <input type="text" name="name" placeholder="Dania" id="name" />
                                            </div>
                                            <div class="6u$ 12u$(mobile)">
                                                <label for="email">email</label>
                                                <input type="text" name="email" placeholder="dania@umich.edu" id="email" />
                                            </div>
                                            <div class="12u$">
                                                <label for="subject">subject</label>
                                                <input type="text" name="subject" placeholder="My love for you" id="subject" />
                                            </div>
                                            <div class="12u$">
                                                <label for="message">message</label>
                                                <textarea name="message" placeholder="You're great!" rows="8" id="message"></textarea>
                                            </div>
                                            <div class="12u$">
                                                <input type="submit" value="Send Message" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                </div> 

                                 <div class = "byee"> <p class="text">“Our comforting conviction that the world makes sense rests on a secure foundation: our almost unlimited ability to ignore our ignorance.”</p></div> 
                   </div>
                    <!-- </center>  -->

                       




                        {% endblock %}