                    {% extends "templates/base.html" %}
{% block content %} 
<center> 
            <div class = "destroy" id = "sector" class="text-center"> 
                <div class = "middle"> 
                                <header>
                                    <h1>hello {{there}}</h1> 
                                    <h3>Thank you for your message!</h3>
                                    <h2>Contact Me</h2>

                                </header>
                                <form action="#" method="post">
                                    <div>
                                        <div class="row">
                                            <div class="6u 12u$(mobile)">
                                                <input type="text" name="name" placeholder="Name" />
                                            </div>
                                            <div class="6u$ 12u$(mobile)">
                                                <input type="text" name="email" placeholder="Email" />
                                            </div>
                                            <div class="12u$">
                                                <input type="text" name="subject" placeholder="Subject" />
                                            </div>
                                            <div class="12u$">
                                                <textarea name="message" placeholder="Message" rows="8"></textarea>
                                            </div>
                                            <div class="12u$">
                                                <input type="submit" value="Send Message" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                </div> 
                   </div>
                    </center> 
                {% endblock %}