{% extends "templates/base.html" %}
{% block content %} 
<!-- Work -->

<div id="work" class="panel" >
                    <div id="centerme" class = "destroy"> 
                                <!-- <center>  -->
                                <!-- <header id="centerwork">
                                    <h1> hello </h1> <h2>{{there}} </h2> <br><br>
                                    <h3> Check out these books! </h3>
                                </header>
                                <p>
                                    Welcome to my portfolio!  -->
                                <!-- </p> -->
                                 <!-- </center>  -->
                                <section id = "back">
                                    <header id="centerwork">
                                    <h1> hello </h1> <h2>{{there}} </h2> <br><br>
                                    <h3> Check out these books! </h3>
                                </header>
                                <p>
                                   <!-- Welcome to my portfolio!  -->
                                </p>
                                    <div class="row">

                                        <div class="4u 12u$(mobile)">
                                            <div class="wwrapper"> 
                                            <a href="#" class="image fit" ><img src="static/images/thinking.png" alt="thinking fast and slow" onclick ="window.open('http://www.amazon.com/Thinking-Fast-Slow-Daniel-Kahneman/dp/0374533555','_newtab');"></a><br>
                                             <p class="text">“Our comforting conviction that the world makes sense rests on a secure foundation: our almost unlimited ability to ignore our ignorance.”</p>
                                            </div> 
                                        </div>
                                        <div class="4u 12u$(mobile)">
                                            <div class="wwrapper"> 
                                            <a href="#" class="image fit"><img src="static/images/loud.png" alt="extremely loud and close" onclick ="window.open('http://www.amazon.com/Extremely-Incredibly-Close-Jonathan-Safran/dp/0618711651','_newtab');"></a><br>
                                            <p class="text">“Time was passing like a hand waving from a train I wanted to be on. 
I hope you never have to think about anything as much as I think about you.”</p>
                                            </div>
                                        </div>
                                        <div class="4u$ 12u$(mobile)">
                                            <div class="wwrapper"> 
                                            <a href="#" class="image fit"><img src="static/images/tsukuru.png" alt="colorless tsukuru" onclick ="window.open('http://www.amazon.com/Colorless-Tsukuru-Tazaki-Years-Pilgrimage/dp/0804170126/ref=sr_1_1?s=books&ie=UTF8&qid=1459256926&sr=1-1&keywords=colorless+tsukuru+tazaki+and+his+years+of+pilgrimage','_newtab');"></a><br>
                                            <p class="text">A basically empty vessel has become empty once again. Who can you complain to about that? People come to him, discover how empty he is, and leave. What’s left is an empty, perhaps even emptier, Tsukuru Tazaki, all alone. Isn’t that all there is to it?</p>
                                            </div>
                                        </div>
                                        <div class="4u 12u$(mobile)">
                                            <div class="wwrapper"> 
                                            <a href="#" class="image fit"><img src="static/images/theroad.png" alt="The Road" onclick ="window.open('http://www.amazon.com/Road-Cormac-McCarthy/dp/0307387895/ref=sr_1_1?s=books&ie=UTF8&qid=1459256955&sr=1-1&keywords=the+road','_newtab');"></a><br>
                                            <p class="text">“He walked out in the gray light and stood and he saw for a brief moment the absolute truth of the world. The cold relentless circling of the intestate earth. Darkness implacable. The blind dogs of the sun in their running. The crushing black vacuum of the universe. And somewhere two hunted animals trembling like ground-foxes in their cover. Borrowed time and borrowed world and borrowed eyes with which to sorrow it.” </p>
                                            </div>
                                        </div>
                                        <div class="4u 12u$(mobile)">
                                            <div class="wwrapper"> 
                                            <a href="#" class="image fit"><img src="static/images/virgin.png" alt="virgin suicides" onclick ="window.open('http://www.amazon.com/Virgin-Suicides-Novel-Jeffrey-Eugenides/dp/0312428812/ref=sr_1_1?s=books&ie=UTF8&qid=1459257472&sr=1-1&keywords=virgin+suicides','_newtab');" ></a><br>
                                            <p class="text">“Added to their loveliness was a new mysterious suffering, perfectly silent, visible in the blue puffiness beneath their eyes or the way they would sometimes stop in mid-stride, look down, and shake their heads as though disagreeing with life.” </p>
                                            </div>
                                        </div>
                                        <div class="4u$ 12u$(mobile)">
                                            <div class="wwrapper"> 
                                            <a href="#" class="image fit"><img src="static/images/gonegirl.png" alt="gone girl" onclick ="window.open('http://www.amazon.com/Gone-Girl-Gillian-Flynn/dp/0307588378/ref=sr_1_1?s=books&ie=UTF8&qid=1459256994&sr=1-1&keywords=gone+girl','_newtab');"></a><br>
                                            <p class="text">“There’s something disturbing about recalling a warm memory and feeling utterly cold.” 
</p>
                                            </div>
                                        </div>
                                        <div class="4u 12u$(mobile)">
                                            <div class="wwrapper"> 
                                            <a href="#" class="image fit"><img src="static/images/carried.png" alt="things they carried"></a><br>
                                            <p class="text">“You can tell a true war story by the questions you ask. Somebody tells a story, let's say, and afterward you ask, 'Is it true?' and if the answer matters, you've got your answer . . . Absolute occurrence is irrelevant. A thing may happen and be a total lie; another thing may not happen and be truer than the truth.” </p>
                                            </div>
                                        </div>
                                        <div class="4u 12u$(mobile)">
                                            <div class="wwrapper"> 
                                            <a href="#" class="image fit"><img src="static/images/creative.png" alt="creative confidence"></a><br>
                                            <p class="text">“Empathy means challenging your preconceived ideas and setting aside your sense of what you think is true in order to learn what actually is true that people aren’t conscious of.” 
</p>
                                            </div>
                                        </div>
                                        <div class="4u$ 12u$(mobile)">
                                            <div class="wwrapper"> 
                                            <a href="#" class="image fit"><img src="static/images/ee.png" alt="ee cummings"></a><br>
                                            <p class="text">
may came home with a smooth round stone <br>
as small as a world and as large as alone.<br>

For whatever we lose(like a you or a me) <br>
it’s always ourselves we find in the sea</p>
                                            </div>
                                        </div>
                                        <!-- <div class="4u 12u$(mobile)">
                                            <a href="#" class="image fit"><img src="static/images/pic10.jpg" alt=""></a>
                                        </div>
                                        <div class="4u 12u$(mobile)">
                                            <a href="#" class="image fit"><img src="static/images/pic11.jpg" alt=""></a>
                                        </div>
                                        <div class="4u$ 12u$(mobile)">
                                            <a href="#" class="image fit"><img src="images/pic12.jpg" alt=""></a>
                                        </div> -->
                                    </div>
                                </section>
                           </div>
                            </div>
                           
{%endblock%}