{% extends "templates/base.html" %}
{% block content %} 
<!-- Work -->

<div id="work" class="panel" >
                    <div id="centerme" class = "destroy"> 
                                <center> 
                                <header>
                                    <h1> hello </h1> <h2>{{there}} </h2> <br><br>
                                    <h3> Check out these books! </h3>
                                </header>
                                <p>
                                   <!-- Welcome to my portfolio!  -->
                                </p>
                                <center> 
                                <section>
                                    <div class="row">
                                        <div class="4u 12u$(mobile)">
                                            <a href="#" class="image fit" ><img src="static/images/thinking.png" alt="thinking fast and slow"></span></a>
                                            <figcaption><p>Eiffel Tower</p></figcaption>
                                            <p> think think think <span class="extra">My hidden text!</span></p> 
                                        </div>
                                        <div class="4u 12u$(mobile)">
                                            <a href="#" class="image fit"><img src="static/images/loud.png" alt="extremely loud and close"></a>
                                        </div>
                                        <div class="4u$ 12u$(mobile)">
                                            <a href="#" class="image fit"><img src="static/images/tsukuru.png" alt="colorless tsukuru"></a>
                                        </div>
                                        <div class="4u 12u$(mobile)">
                                            <a href="#" class="image fit"><img src="static/images/theroad.png" alt="The Road"></a>
                                        </div>
                                        <div class="4u 12u$(mobile)">
                                            <a href="#" class="image fit"><img src="static/images/virgin.png" alt="virgin suicides"></a>
                                        </div>
                                        <div class="4u$ 12u$(mobile)">
                                            <a href="#" class="image fit"><img src="static/images/gonegirl.png" alt="gone girl"></a>
                                        </div>
                                        <div class="4u 12u$(mobile)">
                                            <a href="#" class="image fit"><img src="static/images/carried.png" alt="things they carried"></a>
                                        </div>
                                        <div class="4u 12u$(mobile)">
                                            <a href="#" class="image fit"><img src="static/images/creative.png" alt="creative confidence"></a>
                                        </div>
                                        <div class="4u$ 12u$(mobile)">
                                            <a href="#" class="image fit"><img src="static/images/ee.png" alt="ee cummings"></a>
                                        </div>
                                        <!-- <div class="4u 12u$(mobile)">
                                            <a href="#" class="image fit"><img src="static/images/pic10.jpg" alt=""></a>
                                        </div>
                                        <div class="4u 12u$(mobile)">
                                            <a href="#" class="image fit"><img src="static/images/pic11.jpg" alt=""></a>
                                        </div>
                                        <div class="4u$ 12u$(mobile)">
                                            <a href="#" class="image fit"><img src="images/pic12.jpg" alt=""></a>
                                        </div> -->
                                    </div>
                                </section>
                           </div>
                            </div>
                           
{%endblock%}